<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JKR.GUI.LogixConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JKR.GUI.LogixConnector.Properties.Settings>
            <setting name="JKR_GUI_LogixConnector_wsConnector_Connector"
                serializeAs="String">
                <value>http://localhost:6666/WSProxy2/Connector.asmx</value>
            </setting>
            <setting name="JKR_GUI_LogixConnector_BusinessService_BusinessServiceEvin_GUI_LogixConnector_BusinessService_BusinessService"
                serializeAs="String">
                <value>http://192.168.0.136/serviceportal/ws/BusinessService.asmx</value>
            </setting>
            <setting name="JKR_GUI_LogixConnector_Cargob2bGM_CertificateService"
                serializeAs="String">
                <value>http://192.168.0.136/Gmb2b/ws/CertificateService.asmx</value>
            </setting>
            <setting name="JKR_GUI_LogixConnector_CertificateServiceGM_CertificateService"
                serializeAs="String">
                <value>http://192.168.0.136/Gmlsc/ws/CertificateService.asmx</value>
            </setting>
            <setting name="JKR_GUI_LogixConnector_BusinessServiceGM_BusinessService"
                serializeAs="String">
                <value>http://192.168.0.136/Gmlsc/ws/BusinessService.asmx</value>
            </setting>
            <setting name="JKR_GUI_LogixConnector_eFileService_FileService"
                serializeAs="String">
                <value>http://192.168.0.81/efile/FileService.asmx</value>
            </setting>
        </JKR.GUI.LogixConnector.Properties.Settings>
    </applicationSettings>
</configuration>